<template>
  <div class="border border-dark mt-5">
    <br />
    <paginate name="encuestas" :list="encuesta.plantillas" :per="1">
      <!-- Plantillas -->
      <div v-for="(plantilla, index) in paginated('encuestas')" :key="index">
        <h1 class="text-center">{{ plantilla.titulo }}</h1>
        <!-- Conjunto de preguntas -->
        <div v-for="(conjunto, index) in plantilla.conjunto" :key="index">
          <!-- Preguntas -->
          <div v-for="(pregunta, index) in conjunto.preguntas" :key="index">
            <p>{{ pregunta.texto }}</p>
            <ul v-if="pregunta.tipo == 'radio'">
              <li v-for="index in pregunta.rango" :key="index">
                <input :type="pregunta.tipo" :name="pregunta.id" :value="index"/>
                <label> {{ index }} </label>
              </li>
            </ul>
            <input v-else :type="pregunta.tipo" :name="pregunta.id" v-model="respuestas.valor"/>
            <hr />
          </div>
        </div>
      </div>
      <button >Enviar</button>
    </paginate>
    <paginate-links for="encuestas"></paginate-links>
  </div>
</template>

<script>
//vale
import axios from 'axios'
export default {
  name: "ResponderEncuesta",
  data() {
    return {
      encuesta: {},
      paginate: ["encuestas"],
      respuestas: {
        valor: "",
        idPregunta: ""
      }
    };
  },
    mounted() {
    this.obtenerEncuesta();
  },
  methods: {
    obtenerEncuesta() {
      axios
        .get("/responderencuesta")
        .then((res) => {
          console.log("AQUI!!");
          console.log(res.data.plantillas);
          this.encuesta = res.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style scoped>
ul {
  list-style-type: none;
}

</style>
